{% extends 'shared/base.html' %}
{% load static%}


{% block css %}
    <link rel="stylesheet" href="{% static '' %}" />
{% endblock %}

{% block content %}

    <h1 class="items">Welcome to Knot It!</h1>
    <h2><a href="{% url 'knotitapp:knot_form' %}">Create A Knot From The List</a></h2>

    <ul>
        <li>Over Hand Knot</li>
        <li>Square Knot</li>
        <li> Girth Hitch</li>
        <li>Figure Eight Bend</li>
        <li>Water Knot</li>
        <li>Bowline</li>
        <li>Triple Bowline</li>
        <li>Clove Hitch</li>
        <li>Clove Hitch Middle of Rope</li>
        <li>Double Figure Eight</li>
        <li>Figure Eight Slip Knot</li>
        <li>Middle of the Rope Prusik</li>
        <li>End of the Rope Prusik</li>
        <li>Rerouted Figure of Eight</li>
        <li>Munter Hitch</li>
        <li>Super Munter Hitch</li>
        <li>Auto Block</li>
        <li>Munter Mule Knot</li>
    </ul>

{% endblock %}