
{% extends 'shared/base.html' %}
{% load static%}


{% block css %}
    <link rel="stylesheet" href="{% static 'styles/registration.css' %}" />
{% endblock %}

{% block content %}

<h2 style="text-align: center">Register</h2>
<form method="post">
    {% csrf_token %}
    <ul style=list-style-type: none;>
        <div style="text-align: center"><label>Username:</label><li><input required type="text" name="username"></li></div>
        <div style="text-align: center"><label>Password:</label><li><input required type="text" name="password"></li></div>
        <div style="text-align: center"><label>User Email:</label><li><input required type="email" name="email"></li></div>
        <div style="text-align: center"><label>First Name:</label><li><input required type="text" name="first_name"></li></div>
        <div style="text-align: center"><label>Last Name:</label><li><input required type="text" name="last_name"></li></div>
    </ul>
    <div style="text-align: center"><button style="text-align: center" class="registerbtn" type="submit">Login</button></div>
</form>
{% endblock %}