{% extends 'shared/base.html' %}
{% load static%}

{% block css %}
    <link rel="stylesheet" href="{% static 'styles/timelist.css' %}" />
{% endblock %}

   {% block title %}
            Times
   {% endblock %}
    

{% block content %}


    <h1>Times</h1>

    <a href="{% url 'knotitapp:time_form' %}">Add Time</a>
    <ol>
    {% for time in all_times %}
        <li class="card">
            <p><b>Time:</b> {{time.time}}</a></p>
            <p><b>Knot:</b> {{time.knot__name}}</p>

        <form action="{% url 'knotitapp:time_edit_form' time.id %}" method="GET">
              {% csrf_token %}
              <button>Edit</button>
        </form>
        
        <form action="{% url 'knotitapp:time' time.id %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="actual_method" value="DELETE">
            <button>Delete</button>
        </form>
        </li>
    {% endfor %}
    </ol>
{% endblock %}
