{% extends 'shared/base.html' %}
{% load static%}

{% block css %}
    <link rel="stylesheet" href="{% static 'styles/timelist.css' %}" />
{% endblock %}

   {% block title %}
            Times
   {% endblock %}
    

{% block content %}


    <h1 style="text-align: center">Times</h1>

    <fieldset style="margin-inline-start: 400px; margin-inline-end: 400px;">
        <div style="text-align: center"><label class="items" for="knot">Sort Times By Knot</label></div>
        <div style="text-align: center"><select id="knot" type="text" name="knot"></div>
        <option value="" selected="selected" disabled>Select Knot</option>
            {% for knot in all_knots %}
                <option {% if knot.id == knot_id %}selected{% endif %} value="{{knot.id}}">{{ knot.name }}</option>
            {% endfor %}
        </select>
    </fieldset></br>

    <div style="text-align: center"><a href="{% url 'knotitapp:time_form' %}">Add Time</a></div>
    <ol>
    {% for time in all_times %}
        <li style="text-align: center" class="card">
            <p><b>Time:</b> {{time.time}}</a></p>
            <p><b>Knot:</b> {{time.knot__name}}</p>

        <form action="{% url 'knotitapp:time_edit_form' time.id %}" method="GET">
              {% csrf_token %}
              <button>Edit</button>
        </form>
        
        <form action="{% url 'knotitapp:time' time.id %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="actual_method" value="DELETE">
            <button>Delete</button>
        </form>
        </li>
    {% endfor %}
    </ol>
{% endblock %}

{% block scripts %}
    <script src="{% static 'scripts/knots.js' %}"></script>
{% endblock %}