{% extends 'shared/base.html' %}
{% load static%}
 {% block css %}
     <link rel="stylesheet" href="{% static 'styles/knotlist.css' %}" /> 
{% endblock %}

   {% block title %}
            Knots
   {% endblock %}
    

{% block content %}


    <h1>Knots</h1>

    <a href="{% url 'knotitapp:knot_form' %}">Add Knot</a>

    <div>
    <ol>
    {% for knot in all_knots %}
        <li class="card">
            <p><b>Knot:</b><a href="{% url 'knotitapp:knot' knot.id %}">{{knot.name}}</a></p>
            <p><b>Rope:</b> {{knot.rope_type}}</p>
        </li>
    {% endfor %}
    </ol>
    </div>
{% endblock %}