  input {
    width: 15% !important;
    padding: 15px !important;
    margin: 5px 0 22px 0 !important;
    display: inline-block !important;
    border: none !important;
    background: #f1f1f1 !important;
    justify-content: center !important;
  }
  
  input:focus {
    background-color: #ddd !important;
    outline: none !important;
  }

  select {
    width: 15% !important;
    padding: 15px !important;
    margin: 5px 0 22px 0 !important;
    display: inline-block !important;
    border: none !important;
    background: #f1f1f1 !important;
    justify-content: center !important;
  }