  input {
    width: 15% !important;
    padding: 15px !important;
    margin: 5px 0 22px 0 !important;
    display: inline-block !important;
    border: none !important;
    background: #f1f1f1 !important;
    justify-content: center !important;
  }
  
  input:focus {
    background-color: #ddd !important;
    outline: none !important;
  }

  select {
    width: 15% !important;
    padding: 15px !important;
    margin: 5px 0 22px 0 !important;
    display: inline-block !important;
    border: none !important;
    background: #f1f1f1 !important;
    justify-content: center !important;
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    background-color: darkgrey; 
    margin-left: 225px;
    margin-right: 225px !important;
}

label { 
  display: inline-block; 
  width: 210px; 
}

.select {
  width: 155px !important;
}